<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".JeuQuestionnaireApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetAideMemorisation"
        tools:targetApi="31">

        <service android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            tools:replace="android:exported"/>
        <!--<service android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>-->

        <activity
            android:name=".ViewModelBDD"
            android:exported="false" />
        <activity
            android:name=".creation_suppression.CreerJeuQuestion"
            android:exported="false"
            android:label="@string/title_activity_creer_jeu_question"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".aide_memoire.ConsulaterStatistiques"
            android:exported="false"
            android:label="@string/title_activity_consulater_statistiques"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".creation_suppression.AjouterQuestionDUJeu"
            android:exported="false"
            android:label="@string/title_activity_ajouter_question_dujeu"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".parametrage.ChoixTaillePolice"
            android:exported="false"
            android:label="@string/title_activity_choix_taille_police"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".parametrage.ChoixCouleurFond"
            android:exported="false"
            android:label="@string/title_activity_choix_couleur_fond"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".parametrage.ChoixTempsReponse"
            android:exported="false"
            android:label="@string/title_activity_choix_temps_reponse"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".creation_suppression.EnleverQuestionDuJeu"
            android:exported="false"
            android:label="@string/title_activity_enlever_question_du_jeu"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".creation_suppression.SupprimerJeuQuestion"
            android:exported="false"
            android:label="@string/title_activity_supprimer_jeu_question"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".creation_suppression.ImporterJeuQuestion"
            android:exported="false"
            android:label="@string/title_activity_importer_jeu_question"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".aide_memoire.CreerJeuQuestion"
            android:exported="false"
            android:label="@string/title_activity_creer_jeu_question"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".aide_memoire.ConsulterChangerStatus"
            android:exported="false"
            android:label="@string/title_activity_consulter_changer_status"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".aide_memoire.ChoixJeuQuestion"
            android:exported="false"
            android:label="@string/title_activity_choix_jeu_question"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".creation_suppression.CreationSuppression"
            android:exported="false"
            android:label="@string/title_activity_creation_suppression"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".parametrage.Parametrage"
            android:exported="false"
            android:label="@string/title_activity_parametrage"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".aide_memoire.AideMemoire"
            android:exported="false"
            android:label="@string/title_activity_parametrage"
            android:theme="@style/Theme.ProjetAideMemorisation" />
        <activity
            android:name=".MainActivityAideMemoire"
            android:exported="true"
            android:theme="@style/Theme.ProjetAideMemorisation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>